<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Placeholder</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
    <link rel="stylesheet" th:href="@{/font/bootstrap-icons.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<header th:fragment="header(name)" class="mb-4 py-4 border-bottom bg-white">
    <div class="container-md d-flex justify-content-between">
        <h1 th:text="${name}"></h1>
        <div>
            <a th:if="${session.usuario==null}" th:href="@{'/login'}">Log In / </a><a th:if="${session.usuario==null}" href="">Register</a>
            <a th:if="${session.usuario!=null}" th:href="@{'/logout'}">Log Out</a>
        </div>
    </div>
</header>

<footer th:fragment="footer"></footer>

</body>
</html>