<!DOCTYPE html>
<body>

<div th:fragment="user-inputs">
    <div class="mb-3">
        <label th:text="#{username}" for="nombreUsuario" class="form-label">Nombre de usuario</label>
        <input type="text" th:field="*{nombreUsuario}" class="form-control" aria-describedby="NombreUsuarioField">
    </div>
    <div class="mb-3">
        <label th:text="#{email}" for="email" class="form-label">Correo electrónico</label>
        <input type="text" class="form-control" th:field="*{email}" aria-describedby="EmailField">
    </div>
    <div class="mb-3">
        <label th:text="#{password}" for="passwordHash" class="form-label">Contraseña</label>
        <input type="password" class="form-control" th:field="*{passwordHash}" aria-describedby="PasswordField">
    </div>
    <div class="mb-3">
        <label th:text="#{repeat-password}" for="passwordHashRepeat" class="form-label">Repetir contraseña</label>
        <input type="password" class="form-control" id="passwordHashRepeat" aria-describedby="PasswordRepeatField">
    </div>
</div>


</body>
</html>