<!DOCTYPE html>
<body>

<div th:fragment="user-inputs">
    <div class="mb-3">
        <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" aria-describedby="NombreUsuarioField">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="text" class="form-control" id="email" name="email" aria-describedby="EmailField">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" aria-describedby="PasswordField">
    </div>
</div>

</body>
</html>