<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('Butacas ' + ${sala.nombre})"></head>

<body>

<header th:replace="fragments/layout :: header('Salas')"></header>

<main>
  <div class="container-md">

    <div class="d-flex justify-content-evenly my-4">
      <button class="btn btn-primary" onclick="addRow()">Añadir linea</button>
      <button class="btn btn-primary" onclick="deleteRow()">Eliminar linea</button>
      <button class="btn btn-primary" onclick="addColumn()">Añadir columna</button>
      <button class="btn btn-primary" onclick="deleteColumn()">Eliminar columna</button>
      <button class="btn-primary btn" onclick="submitButacas()">Guardar cambios</button>
      <a th:href="@{'/salas/' + ${sala.id}}" class="btn btn-secondary">Volver</a>
    </div>

    <table class="table-bordered mx-auto" id="layout">
      <tbody></tbody>
    </table>

  </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:inline="javascript">
  let butacasJSON = [[${butacas}]];

  let butacas = JSON.parse(butacasJSON);
  let layout = document.querySelector("#layout > tbody");

  if (butacas.length<2) {
    butacas = new Array(10);
    for (let i = 0; i < butacas.length; i++) {
      butacas[i] = new Array(10);
    }
  }

  console.log(butacas);
  printLayout();

  document.querySelectorAll("td").forEach(element=>
          element.addEventListener('click',toggleButaca,true));

  function printLayout(){
    let text = "";
    for (let i = 0; i<butacas.length; i++){
      text+="<tr>";
      for (let j = 0;j<butacas[i].length;j++){
        text+="<td>";

        if(butacas[i][j]!=null){
          text+="<i class=\"bi bi-circle-fill\"></i>";
        } else {
          text+=" ";
        }
        text+="</td>";
      }
      text+="</tr>";
    }
    layout.innerHTML=text;
  }

  function toggleButaca(){
    var x = Array.from(this.parentNode.children).indexOf(this);
    var y = Array.from(this.parentNode.parentNode.children).indexOf(this.parentNode);
    var casilla = butacas[y][x];
    if (casilla!=null){f
      butacas[y][x] = null;
      this.innerHTML=" ";
    } else {
      butacas[y][x] = {posX: x, posY: y};
      this.innerHTML = "<i class=\"bi bi-circle-fill\"></i>"
    }
  }

  function addRow(){
    butacas.push(new Array(butacas[0].length).fill(null));
    printLayout();
    document.querySelectorAll("td").forEach(element=>
            element.addEventListener('click',toggleButaca,true));
  }

  function deleteRow(){
    butacas.pop();
    printLayout();
    document.querySelectorAll("td").forEach(element=>
            element.addEventListener('click',toggleButaca,true));
  }

  function addColumn(){
    butacas.forEach(casilla => casilla.push(null));
    printLayout();
    document.querySelectorAll("td").forEach(element=>
            element.addEventListener('click',toggleButaca,true));
  }

  function deleteColumn(){
    butacas.forEach(casilla => casilla.pop());
    printLayout();
    document.querySelectorAll("td").forEach(element=>
            element.addEventListener('click',toggleButaca,true));
  }

  function submitButacas(){
    fetch("/salas/"+[[${sala.id}]]+"/butacas",{
      method: 'POST',
      body: JSON.stringify(butacas),
      headers:{
        'Content-Type':'application/json'
      }
    }).then(res => res.json())
            .catch(error => console.error('Error:', error))
            .then(response => console.log('Success:', response));
  }


</script>

</body>
</html>