<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
</head>
<body>

<header class="container-md mb-4 py-4">
    <h1>Salas</h1>
</header>

<main>
    <section class="container-md">
        <form method="POST" th:action="@{/salas/crea}" th:object="${sala}">
            <select th:field="*{propietarioSala}">
                <option value="1">1</option>
            </select>
            <select th:field="*{estaOculto}">
                <option value="true">true</option>
            </select>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" aria-describedby="NombreField">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" th:field="*{direccion}" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <select class="form-control" th:field="*{ciudad}" id="ciudad" name="ciudad">
                    <option th:each="ciudad: ${ciudades}"
                            th:value="${ciudad.id}"
                            th:text="${ciudad.nombre}"/>
                </select>
            </div>
            <div class="mb-3">
                <label for="aforoMax" class="form-label">Aforo máximo</label>
                <input type="number" th:field="*{aforoMax}" class="form-control w-25" id="aforoMax" name="aforoMax">
            </div>
            <button type="submit" class="btn btn-primary">Crea</button>
        </form>

        <a href="/salas" class="btn btn-secondary mt-3">Volver</a>
    </section>
</main>

<footer></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>