<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('Formulario')"></head>

<body>

<header th:replace="fragments/layout :: header('Salas')"></header>

<main>
    <section class="container-md">
        <form method="POST" th:action="'/salas'" th:object="${sala}">

            <div th:if="${sala.id == null}">
                <input type="hidden" value="1" id="propietarioSala" name="propietarioSala">
                <input type="hidden" value="true" id="estaOculto" name="estaOculto">
            </div>

            <div th:unless="${sala.id == null}">
                <input type="hidden" th:field="*{propietarioSala}">
                <input type="hidden" th:field="*{estaOculto}">
                <input type="hidden" th:field="*{id}">
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" th:field="*{nombre}" class="form-control" id="nombre" name="nombre" aria-describedby="NombreField">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" th:field="*{direccion}" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="mb-3">
                <label for="ciudad" class="form-label">Ciudad</label>
                <select class="form-control" th:field="*{ciudad}" id="ciudad" name="ciudad">
                    <option th:each="ciudad: ${ciudades}"
                            th:value="${ciudad.id}"
                            th:text="${ciudad.nombre}"/>
                </select>
            </div>
            <div class="mb-3">
                <label for="aforoMax" class="form-label">Mapa</label>
                <div class="sala-map border rounded" id="googleMap"></div>
                <input type="hidden" th:field="*{latitud}" />
                <input type="hidden" th:field="*{longitud}" />
            </div>
            <div class="mb-3">
                <label for="aforoMax" class="form-label">Aforo máximo</label>
                <input type="number" th:field="*{aforoMax}" class="form-control w-25" id="aforoMax" name="aforoMax">
            </div>
            <button th:text="Submit" type="submit" class="btn btn-primary"/>
        </form>

        <a href="/salas" class="btn btn-secondary mt-3">Volver</a>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script>

    function myMap(){

        let currentLatitud = (document.querySelector("#latitud").value > 0.0) ? document.querySelector("#latitud").value : 39.63632380135206;
        let currentLongitud = (document.querySelector("#longitud").value > 0.0) ? document.querySelector("#longitud").value : 2.935153961699708;

        let mapProp= {
            center:new google.maps.LatLng(currentLatitud, currentLongitud),
            zoom:8,
        };

        let map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        let marker = new google.maps.Marker({map: map})

        google.maps.event.addListener(map, 'click', event => {
            placeMarker(event.latLng);
            document.querySelector("#latitud").value=event.latLng.lat();
            document.querySelector("#longitud").value=event.latLng.lng();
        });

        function placeMarker(location) {
            marker.setPosition(location);
        }
    }

</script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyCIBWMOCC_XY2ia1tPFUKYjY4ACzhqbEA0&callback=myMap"></script>

</body>
</html>