<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head('Formulario')"></head>

<body class="bg-secondary">

<header th:replace="fragments/layout :: header('Salas')"></header>

<main>
    <section class="container-md">

        <div class="w-50 mx-auto bg-white shadow-sm rounded-25 p-4">
            <h1 th:if="${sala.id == null}" class="mb-4 border-bottom text-primary pb-2" th:text="#{sala-form-create}">Crear sala</h1>
            <h1 th:unless="${sala.id == null}" class="mb-4 border-bottom text-primary pb-2" th:text="#{sala-form-update}">Modificar sala</h1>
            <div th:replace="fragments/layout :: errorBox"></div>
            <form method="POST" th:action="'/salas'" th:object="${sala}" class="needs-validation" novalidate>
                <div th:unless="${sala.id == null}">
                    <input type="hidden" th:field="*{id}">
                </div>
                <h5 class="form-label text-primary" th:text="#{general}">General</h5>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="nombreIcon">
                            <i class="bi bi-building"></i>
                        </span>
                        <input type="text" th:field="*{nombre}" class="form-control"
                               id="nombre" name="nombre" th:placeholder="#{name}"
                               aria-describedby="nombreIcon" required minlength="3" maxlength="20">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="direccionIcon">
                            <i class="bi bi-geo-alt"></i>
                        </span>
                        <input type="text" th:field="*{direccion}" class="form-control"
                               id="direccion" name="direccion" th:placeholder="#{address}"
                               aria-describedby="direccionIcon" required minlength="3" maxlength="20">
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-geo"></i>
                        </span>
                        <select class="form-select" th:field="*{ciudad}"
                                id="ciudad" name="ciudad" aria-describedby="ciudadIcon" required>
                            <option th:each="ciudad: ${ciudades}"
                                    th:value="${ciudad.id}"
                                    th:text="${ciudad.nombre}"/>
                        </select>
                    </div>
                </div>
                <div class="mb-3 form-check form-switch">
                    <label for="estaOculto" class="form-check-label" th:text="#{hidden}">Esta oculto</label>
                    <input type="checkbox" class="form-check-input" th:field="*{estaOculto}">
                </div>
                <div class="mb-3">
                    <h5 class="form-label text-primary" th:text="#{map}">Mapa</h5>
                    <div class="sala-map border rounded" id="googleMap"></div>
                    <input type="hidden" th:field="*{latitud}" />
                    <input type="hidden" th:field="*{longitud}" />
                </div>
                <div class="mb-3">
                    <h5 class="form-label text-primary" th:text="#{max-capacity}">Aforo máximo</h5>
                    <div class="input-group w-25">
                        <span class="input-group-text" id="aforoIcon">
                            <i class="bi bi-people-fill"></i>
                        </span>
                        <input type="number" th:field="*{aforoMax}" class="form-control"
                               id="aforoMax" name="aforoMax" aria-describedby="aforoIcon" required min="0">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" th:text="#{save}">Guardar</button>
                <a href="/salas" class="btn btn-secondary mt-3" th:text="#{back}">Volver</a>
            </form>
        </div>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script>

    function myMap(){

        let currentLatitud = (parseFloat(document.querySelector("#latitud").value) === 0.0) ? 39.63632380135206 : document.querySelector("#latitud").value;
        let currentLongitud = (parseFloat(document.querySelector("#longitud").value) === 0.0) ? 2.935153961699708 : document.querySelector("#longitud").value;
        document.querySelector("#latitud").value=currentLatitud;
        document.querySelector("#longitud").value=currentLongitud;

        let mapProp= {
            center:new google.maps.LatLng(currentLatitud, currentLongitud),
            zoom:8,
        };

        let map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        let marker = new google.maps.Marker({map: map})

        if (currentLatitud != 0.0 & currentLongitud != 0.0){
            marker.setPosition({lat: parseFloat(currentLatitud), lng: parseFloat(currentLongitud)});
        }

        google.maps.event.addListener(map, 'click', event => {
            placeMarker(event.latLng);
            document.querySelector("#latitud").value=event.latLng.lat();
            document.querySelector("#longitud").value=event.latLng.lng();
        });

        function placeMarker(location) {
            marker.setPosition(location);
        }
    }

</script>

<script th:src="@{/js/clientValidation.js}"></script>

<script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyCIBWMOCC_XY2ia1tPFUKYjY4ACzhqbEA0&callback=myMap"></script>

</body>
</html>