<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Salas'">Placeholder</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
    <link rel="stylesheet" th:href="@{/font/bootstrap-icons.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.bootstrap5.min.css}">
    <link rel="stylesheet" th:href="@{/css/select.bootstrap5.min.css}">

    <script th:src="@{/js/jszip.min.js}"></script>
    <script th:src="@{/js/pdfmake.min.js}"></script>
    <script th:src="@{/js/vfs_fonts.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>

    <script th:src="@{/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/js/buttons.bootstrap5.min.js}"></script>
    <script th:src="@{/js/buttons.html5.min.js}"></script>

    <script th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
    <script th:src="@{/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/js/responsive.bootstrap5.js}"></script>

    <script th:src="@{/js/dataTables.select.min.js}"></script>
</head>
<body>
<header th:replace="fragments/layout :: header('Salas')"></header>

<main>

    <section class="container-md">
        <div th:replace="fragments/layout :: errorBox"></div>
        <table class="table table-bordered table-striped w-100" id="dtTable">
            <thead>
            <tr>
                <th th:text="#{name}">Nombre</th>
                <th th:text="#{address}">Dirección</th>
                <th th:text="#{city}">Ciudad</th>
                <th th:text="#{max-capacity}">Aforo máximo</th>
                <th th:text="#{hidden}">Oculto</th>
                <th th:text="#{actions}">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sala: ${salas}">
                <td>
                    <a th:text="${sala.nombre}"
                       th:href="@{'/salas/' + ${sala.id}}"/>
                </td>
                <td th:text="${sala.direccion}" />
                <td th:text="${sala.ciudad.nombre}" />
                <td th:text="${sala.aforoMax}" />
                <td th:text="${sala.estaOculto} ? #{yes} : #{no}" />
                <td>
                    <a class="btn btn-light" th:href="@{'/salas/' + ${sala.id} + '/update'}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-light" th:href="@{'/salas/' + ${sala.id} + '/delete'}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <a href="/salas/create" role="button"
           th:inline="text"
           class="fst-italic text-secondary text-decoration-none">+[[#{sala-create}]]</a>

    </section>

</main>

<footer th:replace="fragments/layout :: footer"></footer>
<script>
    $(document).ready(function (){
        $("#dtTable").DataTable(
            {
                select: true,
                responsive: true,
                dom: 'Blfrtip',
                buttons: [
                    'excel', 'pdf'
                ]
            }
        );
    })
</script>
</body>
</html>