<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Salas')"></head>
<body>
<header th:replace="fragments/layout :: header('Salas')"></header>

<main>

    <section class="container-md">
        <table class="table table-bordered table-striped">
            <tr>
                <th th:text="#{name}">Nombre</th>
                <th th:text="#{address}">Dirección</th>
                <th th:text="#{city}">Ciudad</th>
                <th th:text="#{max-capacity}">Aforo máximo</th>
                <th th:text="#{hidden}">Oculto</th>
                <th th:text="#{actions}">Acciones</th>
            </tr>
            <tr th:each="sala: ${salas}">
                <td>
                    <a th:text="${sala.nombre}"
                       th:href="@{'/salas/' + ${sala.id}}"/>
                </td>
                <td th:text="${sala.direccion}" />
                <td th:text="${sala.ciudad.nombre}" />
                <td th:text="${sala.aforoMax}" />
                <td th:text="${sala.estaOculto} ? #{yes} : #{no}" />
                <td>
                    <a class="btn btn-light" th:href="@{'/salas/' + ${sala.id} + '/update'}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-light" th:href="@{'/salas/' + ${sala.id} + '/delete'}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        </table>

        <a href="/salas/create" role="button"
           th:inline="text"
           class="fst-italic text-secondary text-decoration-none">+[[#{sala-create}]]</a>

    </section>

</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>