<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(${sala.nombre})"></head>

<body>

<header th:replace="fragments/layout :: header('Salas')"></header>

<main>

    <section class="container-md">

        <p class="mt-3">
            <a href="/salas" class="btn btn-primary">
                <i class="bi bi-chevron-left"></i>
                <span th:text="#{back}">Volver</span>
            </a>
        </p>

        <div class="mt-4 row">
            <div class="col-12">
                <div th:replace="fragments/layout :: errorBox"></div>
            </div>
            <div class="col-7 d-flex flex-column gap-2">
                <h3 th:text="${sala.nombre}"></h3>
                <span th:inline="text"><i class="bi bi-geo-alt-fill"></i> [[${sala.direccion}]]</span>
                <span th:inline="text"><i class="bi bi-pin-map-fill"></i> [[${sala.ciudad.nombre}]]</span>
                <span><i class="bi bi-people-fill"></i> Aforo máximo: <span th:text="${sala.aforoMax}"></span></span>
            </div>
            <div class="d-flex flex-column gap-1 col-5">
                <h3  class="text-center text-decoration-underline" th:text="#{map}">Mapa</h3>
                <div class="sala-map border rounded-25 shadow-sm" id="googleMap"></div>
            </div>
        </div>

        <div class="mt-5">
            <h3 class="text-center text-decoration-underline" th:text="#{layout}">Distribución</h3>
            <p class="text-center mt-4">
                <a th:href="@{'/salas/' + ${sala.id} + '/butacas'}"
                   th:text="${sala.butacas.size()<=0} ? '+' + #{layout-create} : '+' + #{layout-modify}"
                  class="text-secondary fst-italic text-decoration-none h6">
                +Añadir distribución</a>
            </p>
                <table class="mx-auto" id="layout"></table>
        </div>

        <div class="mt-5">
            <h3 class="text-center text-decoration-underline" th:text="#{sesiones}">Sesiones</h3>
            <table class="table table-bordered table-striped my-4">
                <tbody>
                    <tr>
                        <th>Evento</th>
                        <th>Tipo</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>

</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:inline="javascript">

    const butacasJSON = [[${butacas}]];
    const latitud = [[${sala.latitud}]];
    const longitud = [[${sala.longitud}]];


    function myMap(){

        let mapProp= {
            center:new google.maps.LatLng(latitud,longitud),
            zoom:8,
        };

        let map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        let myPosition = {lat: latitud, lng: longitud};
        let marker = new google.maps.Marker({position: myPosition});

        marker.setMap(map);
    }

    let butacas = JSON.parse(butacasJSON);

    let layout = document.getElementById("layout");
    let text = "";

    for (let i = 0; i<butacas.length; i++){
        text+="<tr>";
        for (let j = 0;j<butacas[i].length;j++){
            text+="<td><i class=\"bi bi-circle-fill\"></i></td>";
        }
       text+="</tr>";
    }

    layout.innerHTML = text;

    // console.log(butacasJSON);
    // console.log(butacas);

</script>

<script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyCIBWMOCC_XY2ia1tPFUKYjY4ACzhqbEA0&callback=myMap"></script>

</body>
</html>