<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/layout :: head(#{register-propietario})"></head>

<body class="bg-secondary">

<header th:replace="fragments/layout :: header('Registro de propetario')"></header>

<main>
    <section class="container-md">

        <div class="card border-0 rounded-25 shadow-sm">
            <div style="height: 700px" class="row">
                <div class="col-8 overflow-hidden h-100">
                    <img class="h-100 rounded-25" src="/img/cine.jpg" alt="Cinema Image">
                </div>
                <div class="col-4 p-5 card-body h-100 overflow-auto">
                    <h5 th:text="#{register-propietario}" class="card-title mb-4">Registrate como propietario</h5>
                    <div th:replace="fragments/layout :: errorBox"></div>
                    <form method="POST" th:object="${propietario}" class="needs-validation" novalidate>
                        <div th:replace="fragments/user-form :: user-inputs"></div>
                        <button th:text="#{register-action}" type="submit" class="btn btn-primary">Regístrate</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>



<footer th:replace="fragments/layout :: footer"></footer>

<script th:src="@{/js/clientValidation.js}"></script>

</body>
</html>