<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario eventos</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
</head>
<body>

<header class="container-md mb-4 py-4">
    <h1>Eventos</h1>
</header>

<main>
    <section class="container-md">
        <form method="POST" action="#">
            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion">
            </div>
            <div class="mb-3">
                <label for="estaOculto" class="form-label">Esta oculto</label>
                <select class="form-control" id="estaOculto" name="estaOculto">
                    <option value="true">Oculto</option>
                    <option value="false">No oculto</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="edadMinima" class="form-label">Edad mínima</label>
                <input type="number" class="form-control w-25" id="edadMinima" name="edadMinima">
            </div>
            <div class="mb-3">
                <label for="duracionEstandar" class="form-label">Duración estándar</label>
                <input type="number" class="form-control w-25" id="duracionEstandar" name="duracionEstandar">
            </div>
            <button type="submit" class="btn btn-primary">Crea</button>
        </form>
    </section>
</main>

<footer></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>