<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salas</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
</head>
<body>

<header class="container-md mb-4 py-4">
    <h1>Salas</h1>
</header>

<main>

    <section class="container-md">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Aforo máximo</th>
                <th>Oculto</th>
                <th>Propietario</th>
            </tr>
            <tr th:each="sala: ${salas}">
                <td th:text="${sala.nombre}" />
                <td th:text="${sala.direccion}" />
                <td th:text="${sala.ciudad.nombre}" />
                <td th:text="${sala.aforoMax}" />
                <td th:text="${sala.estaOculto}" />
                <td th:text="${sala.idPropietario}" />
            </tr>
        </table>
    </section>

</main>

<footer></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>