body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

main{
    margin-bottom: 20px;
}

.app-logo{
    width: 150px;
}

header .btn:hover{
    border: solid purple 2px;
}

.rounded-25{
    border-radius: 25px;
}