<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Copiar sesion')"></head>

<body>
<header th:replace="fragments/layout :: header('Copiar sesión')"></header>

<main>
    <section class="container-md">
        <form method="POST" th:action="'/eventos/' + ${eventoId} + '/sesiones/' + ${sesionId} + '/copy'" th:object="${copyDTO}" class="needs-validation" novalidate>
            <div class="mb-3">
                <label th:for="*{endDate}" class="form-label" th:text="#{fecha-fin}"></label>
                <input type="datetime-local" class="form-control w-50" th:field="*{endDate}" required>
            </div>
            <div class="mb-3">
                <label th:for="nDays" class="form-label" th:text="#{everyNDays}">Cada N dias</label>
                <input type="number" class="form-control w-25" th:field="*{numDays}" required>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
            <a class="btn btn-secondary" th:href="'/eventos/' + ${eventoId}" th:text="#{back}">Volver</a>
        </form>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:src="@{/js/clientValidation.js}"></script>

</body>
</html>