<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(${evento.titulo})"></head>

<body class="bg-secondary">

<header th:replace="fragments/layout :: header('Formulario evento')"></header>

<main>
    <section class="container-md">

        <div class="w-50 mx-auto bg-white shadow-sm rounded-25 p-4">
            <h1 th:if="${evento.id == null}" class="mb-4 border-bottom text-primary pb-2" th:text="#{evento-form-create}">Crear evento</h1>
            <h1 th:unless="${evento.id == null}" class="mb-4 border-bottom text-primary pb-2" th:text="#{evento-form-update}">Modificar evento</h1>
            <div th:replace="fragments/layout :: errorBox"></div>
            <form method="POST" th:action="'/eventos'" th:object="${evento}" enctype="multipart/form-data" class="needs-validation" novalidate>
                <div th:unless="${evento.getId() == null}">
                    <input type="hidden" th:field="*{id}">
                </div>

                <h5 class="form-label text-primary" th:text="#{general}">General</h5>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="tituloIcon">
                            <i class="bi bi-building"></i>
                        </span>
                        <input type="text" th:field="*{titulo}" class="form-control"
                               th:placeholder="#{title}" aria-describedby="tituloIcon" required>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="descripcionIcon">
                            <i class="bi bi-book-half"></i>
                        </span>
                        <textarea th:field="*{descripcion}" class="form-control"
                                  th:placeholder="#{description}+' ('+ #{optional} +')'"
                                  aria-describedby="descripcionIcon">
                        </textarea>
                    </div>
                </div>

                <h5 class="form-label text-primary" th:text="#{category}">Categoría</h5>

                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="categoria Icon">
                            <i class="bi bi-bookmarks"></i>
                        </span>
                        <select class="form-select" th:field="*{categoria}"
                                id="ciudad" name="ciudad" aria-describedby="categoriaIcon" required>
                            <option th:each="categoria: ${categorias}"
                                    th:value="${categoria.id}"
                                    th:text="${categoria.nombre}"/>
                        </select>
                    </div>
                </div>

                <h5 class="form-label text-primary" th:text="#{additional-info}">Información adicional</h5>

                <div class="mb-3 form-check form-switch">
                    <label for="estaOculto" class="form-check-label" th:text="#{hidden}">Esta oculto</label>
                    <input type="checkbox" class="form-check-input" th:field="*{estaOculto}">
                </div>
                <div class="mb-3 form-check form-switch">
                    <label for="esNominativo" class="form-check-label" th:text="#{nominative}">Es nominativo</label>
                    <input type="checkbox" class="form-check-input" th:field="*{esNominativo}">
                </div>

                <div class="mb-3">
                    <label for="edadMinima" class="form-label text-primary h6" th:text="#{min-age}">Edad mínima</label>
                    <div class="input-group w-25">
                        <span class="input-group-text" id="edadIcon">
                            <i class="bi bi-people-fill"></i>
                        </span>
                        <input type="number" th:field="*{edadMinima}" class="form-control"
                               placeholder="Edad mínima"
                               aria-describedby="edadIcon" min="0" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="duracionEstandar" class="form-label text-primary h6" th:text="#{duration}+' (min.)'">Duración (min.)</label>
                    <div class="input-group w-25">
                        <span class="input-group-text" id="duracionIcon">
                            <i class="bi bi-clock"></i>
                        </span>
                        <input type="number" th:field="*{duracionEstandar}" class="form-control"
                               placeholder="Duración"
                               aria-describedby="duracionIcon" min="1" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="fotoPerfil" class="form-label text-primary h6" th:text="#{profile-pic}">Foto de perfil</label>
                    <input type="file" class="form-control w-75" id="fotoPerfil" name="fotoPerfil" th:attr="required=${evento.getId() == null}">
                    <p class="small text-secondary fst-italic" th:inline="text">*[[#{allowed-formats}]] .jpg, .png, .webp</p>
                </div>
                <div class="mb-3">
                    <label for="documentoNormas" class="form-label text-primary h6" th:inline="text">[[#{rules-doc}]] ([[#{optional}]])</label>
                    <input type="file" class="form-control w-75" id="documentoNormas" name="documentoNormas">
                    <p class="small text-secondary fst-italic" th:inline="text">*[[#{allowed-formats}]] .jpg, .png, .webp, .pdf</p>
                </div>

                <button type="submit" class="btn btn-primary mt-3" th:text="#{save}">Guardar</button>
                <a href="/eventos" class="btn btn-secondary mt-3" th:text="#{back}">Volver</a>

            </form>
        </div>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:src="@{/js/clientValidation.js}"></script>

</body>
</html>