<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(${evento.titulo})"></head>

<body>
<header th:replace="fragments/layout :: header('Formulario evento')"></header>

<main>
    <section class="container-md">
        <form method="POST" th:action="'/eventos'" th:object="${evento}" enctype="multipart/form-data">
            <div class="mb-3" th:unless="${evento.getId() == null}">
                <label for="id" class="form-label">Identificador</label>
                <input type="number" class="form-control" readonly th:field="*{id}">
            </div>
            <div class="mb-3">
                <label th:for="*{titulo}" class="form-label">Título</label>
                <input type="text" class="form-control" th:field="*{titulo}">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" th:field="*{descripcion}">
            </div>
            <div class="mb-3">
                <label for="estaOculto" class="form-label">Esta oculto</label>
                <select class="form-control w-25" th:field="*{estaOculto}">
                    <option value="true">Oculto</option>
                    <option value="false">No oculto</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="esNominativo" class="form-label">Es nominativo</label>
                <select class="form-control w-25" th:field="*{esNominativo}">
                    <option value="true">Nominativo</option>
                    <option value="false">No nominativo</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="organizador" class="form-label">Organizador [DEBUG]</label>
                <select class="form-control w-25" th:field="*{organizador}">
                    <option value="2">2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fotoPerfil" class="form-label">Foto de perfil [DEBUG]</label>
                <select class="form-control w-25" th:field="*{fotoPerfil}">
                    <option value="1">1</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="documentoNormas" class="form-label">Documento de normas [DEBUG]</label>
                <select class="form-control w-25" th:field="*{documentoNormas}">
                    <option value="1">1</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="edadMinima" class="form-label">Edad mínima</label>
                <input type="number" class="form-control w-25" th:field="*{edadMinima}">
            </div>
            <div class="mb-3">
                <label for="duracionEstandar" class="form-label">Duración estándar</label>
                <input type="number" class="form-control w-25" th:field="*{duracionEstandar}">
            </div>
            <div class="mb-3">
                <label for="testFile" class="form-label">Fichero</label>
                <input type="file" class="form-control w-25" id="testFile" name="testFile">
            </div>
            <button type="submit" class="btn btn-primary" th:text="'Guardar'"></button>
        </form>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>