<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Eventos')"></head>
<body>
<header th:replace="fragments/layout :: header('Eventos')"></header>
<main>
    <section class="container-md">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Título</th>
                <th>Oculto</th>
                <th>Nominativo</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="evento: ${eventos}">
                <td><a th:text="${evento.titulo}" th:href="'/eventos/' + ${evento.id}"></a></td>
                <td th:text="${evento.estaOculto}"></td>
                <td th:text="${evento.esNominativo}"></td>
                <td>
                    <a class="btn btn-light" th:href="@{'/eventos/' + ${evento.id} + '/update'}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-light" th:href="@{'/eventos/' + ${evento.id} + '/delete'}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        </table>

        <a href="/eventos/create" role="button" class="fst-italic text-secondary text-decoration-none">+Crea un evento nuevo</a>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>