<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: head(${evento.titulo})"></head>
<style>
    .galleryItem{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .galleryItem:hover{
        cursor: pointer;
        box-shadow: 0 0 5px black;
    }
</style>
<body>

<header th:replace="fragments/layout :: header('Eventos')"></header>

<main>

    <section class="container-md">
        <div class="row">
            <div class="col">
                <div class="mb-4 d-flex flex-column">
                    <h3 th:text="${evento.titulo}"></h3>
                    <span th:text="${evento.descripcion}"></span>
                    <span>
                        Edad mínima: <span th:text="${evento.edadMinima}"></span>
                    </span>
                    <span>
                        Esta oculto: <span th:text="${evento.estaOculto}"></span>
                    </span>
                    <span>
                        Es nominativo: <span th:text="${evento.esNominativo}"></span>
                    </span>
                    <span>
                        Duración estándar: <span th:text="${evento.duracionEstandar}"></span>
                    </span>
                    <span>
                        Imagen de perfil: <span th:text="${evento.fotoPerfil.nombreArchivo}"></span>
                    </span>
                    <span>
                        Categoria: <span th:text="${evento.categoria.nombre}"></span>
                    </span>
                    <span>
                        Galeria imagenes: <span th:text="${evento.galeriaImagenes}"></span>
                    </span>
                </div>
            </div>
            <div class="col" style="height: 350px">
                <img th:src="'/img/' + ${evento.fotoPerfil.nombreArchivo}" th:alt="${evento.fotoPerfil.nombreArchivo}" style="height: 100%">
            </div>
        </div>


        <div class="mb-4">
            <h3 class="mb-3">Sesiones</h3>
            <div class="dropdown mb-2">
                <a class="text-secondary mb-2 dropdown-toggle"
                   type="button" id="crearSesion"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"
                >Crear sesión</a>
                <ul class="dropdown-menu" aria-labelledby="crearSesion">
                    <li><a class="dropdown-item" th:href="'/eventos/' + ${evento.id} + '/sesiones_no_num/create'">Sesión no numerada</a></li>
                    <li><a class="dropdown-item" th:href="'/eventos/' + ${evento.id} + '/sesiones_num/create'">Sesión numerada</a></li>
                </ul>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Id</th>
                    <th>DateTime Inicio</th>
                    <th>Esta oculto</th>
                </tr>
                <tr th:each="sesion: ${evento.sesiones}">
                    <td><a th:text="${sesion.id}" th:href="'/eventos/' + ${evento.id} + '/sesiones/' + ${sesion.id}"></a></td>
                    <td th:text="${sesion.fechaIni}"></td>
                    <td th:text="${sesion.estaOculto}"></td>
                </tr>
            </table>
        </div>

        <div class="mb-4">
            <h3 class="mb-3">Normas del evento</h3>
            <p th:if="${evento.getDocumentoNormas() == null}">No hay ningún documento asignado</p>
            <div th:unless="${evento.getDocumentoNormas() == null}">
                <a th:text="${evento.getDocumentoNormas().getNombrePdf()}" th:href="'/img/' + ${evento.getDocumentoNormas().getNombrePdf()}"></a>
                <a class="btn btn-light" th:href="'/eventos/' + ${evento.id} + '/normas_evento/delete'">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>

        </div>

        <div class="mb-4">
            <h3 class="mb-3">Galeria de imágenes</h3>
            <div class="container-fluid d-flex gap-3">
                <img th:each="imagen: ${evento.getGaleriaImagenes()}"
                     th:src="'/img/' + ${imagen.nombreArchivo}"
                     th:attr="data-gallery-id=${imagen.id}, data-gallery-prioridad=${imagen.prioridad}"
                     class="galleryItem"
                     data-bs-toggle="modal" data-bs-target="#modalGaleria">
            </div>
            <a th:href="'/eventos/' + ${evento.id} + '/images/add'">Añadir imágen</a>
        </div>

        <div class="modal" tabindex="-1" id="modalGaleria">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="#PLACEHOLDER" id="galeriaForm">
                        <div class="modal-header">
                            <h5 class="modal-title">Establecer prioridad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="number" name="prioridad" id="prioridad">
                        </div>
                        <div class="modal-footer">
                            <a href="#PLACEHOLDER" class="btn btn-danger" id="deleteGalleryBtn">Eliminar</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <input type="submit" class="btn btn-primary" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <a href="/eventos" class="btn btn-primary">Volver</a>
    </section>

</main>

<footer th:replace="fragments/layout :: footer"></footer>
<script th:inline="javascript">
    /*<![CDATA[*/
    let galeriaModal = document.getElementById("modalGaleria");
    galeriaModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget
        let prioridad = button.getAttribute("data-gallery-prioridad")
        let recursoMediaId = button.getAttribute("data-gallery-id")
        let eventoId = [[${evento.id}]]
        document.getElementById("galeriaForm").setAttribute("action", "/eventos/" + eventoId + "/images/" + recursoMediaId + "/update")
        document.getElementById("prioridad").setAttribute("value", prioridad)
        document.getElementById("deleteGalleryBtn").setAttribute("href", "/eventos/" + eventoId + "/images/" + recursoMediaId + "/delete")
    })
    /*]]>*/
</script>
</body>
</html>