<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${evento.titulo}">Placeholder</title>
    <link rel="stylesheet" th:href="@{/css/customBootstrap.css}">
    <link rel="stylesheet" th:href="@{/font/bootstrap-icons.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/fullcalendar/main.min.css}">
    <script th:src="@{/js/fullcalendar/main.js}"></script>
    <script th:src="@{/js/fullcalendar/locales-all.js}"></script>
</head>

<style>
    .galleryItem{
        height: 100px;
        width: 100px;
        object-fit: cover;
    }

    .galleryItem:hover{
        cursor: pointer;
        box-shadow: 0 0 5px black;
    }
</style>
<body>

<header th:replace="fragments/layout :: header('Eventos')"></header>

<main>

    <section class="container-md">

        <p class="mt-3">
            <a href="/eventos" class="btn btn-primary">
                <i class="bi bi-chevron-left"></i>
                <span th:text="#{back}">Volver</span>
            </a>
        </p>

        <div class="row">
            <div class="col-12">
                <div th:replace="fragments/layout :: errorBox"></div>
            </div>
            <div class="col">
                <div class="mb-4 d-flex flex-column">
                    <h3 th:text="${evento.titulo}"></h3>
                    <span th:inline="text">
                        [[#{min-age}]]: <span th:text="${evento.edadMinima}"></span>
                    </span>
                    <span th:inline="text">
                        [[#{hidden}]]: <span th:text="${evento.estaOculto} ? 'Si' : 'No'"></span>
                    </span>
                    <span th:inline="text">
                        [[#{nominative}]]: <span th:text="${evento.esNominativo} ? 'Si' : 'No'"></span>
                    </span>
                    <span th:inline="text">
                        [[#{duration}]]: <span th:text="${evento.duracionEstandar}"></span>
                    </span>
                    <span th:inline="text">
                        [[#{category}]]: <span th:text="${evento.categoria.nombre}"></span>
                    </span>
                </div>
            </div>
            <div class="col" style="height: 350px">
                <img
                        class="rounded shadow-sm"
                        th:src="'/media/' + ${evento.fotoPerfil.nombreArchivo}"
                        th:alt="${evento.fotoPerfil.nombreArchivo}"
                        style="height: 100%">
            </div>
        </div>

        <div class="mb-4 mt-3">
            <h3 class="mb-3" th:text="#{description}">Descripción</h3>
            <p th:text="${evento.descripcion.length()<0} ? ${evento.descripcion} : #{no-desc}"></p>
        </div>

        <div class="mb-4">
            <h3 class="mb-3" th:text="#{sesiones}">Sesiones</h3>
            <div class="dropdown mb-2">
                <a class="text-secondary mb-2 dropdown-toggle"
                   type="button" id="crearSesion"
                   data-bs-toggle="dropdown"
                   aria-expanded="false"
                   th:text="#{create-sesion}"
                >Crear sesión</a>
                <ul class="dropdown-menu" aria-labelledby="crearSesion">
                    <li><a class="dropdown-item"
                           th:href="'/eventos/' + ${evento.id} + '/sesiones_no_num/create'"
                           th:text="#{sesion-no-num}">Sesión no numerada</a></li>
                    <li><a class="dropdown-item"
                           th:href="'/eventos/' + ${evento.id} + '/sesiones_num/create'"
                           th:text="#{sesion-num}">Sesión numerada</a></li>
                </ul>
            </div>
            <div id="calendar"></div>
<!--            <table class="table table-bordered table-striped">-->
<!--                <tr>-->
<!--                    <th>Id</th>-->
<!--                    <th>DateTime Inicio</th>-->
<!--                    <th>Esta oculto</th>-->
<!--                </tr>-->
<!--                <tr th:each="sesion: ${evento.sesiones}">-->
<!--                    <td><button class="btn btn-secondary"-->
<!--                           th:text="${sesion.id}"-->
<!--                           th:attr="data-sesion-index=${sesionStat.index}"-->
<!--                           data-bs-toggle="modal"-->
<!--                           data-bs-target="#modalSesion"></button></td>-->
<!--                    <td th:text="${sesion.fechaIni}"></td>-->
<!--                    <td th:text="${sesion.estaOculto}"></td>-->
<!--                </tr>-->
<!--            </table>-->
        </div>

        <div class="modal fade" id="modalSesion">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                      <div id="sesionInfo" class="d-flex flex-column gap-2 mb-3">
                          <h5 th:text="#{sesion-info}">Información de la sesión</h5>
                          <table class="table table-borderless">
                              <tbody>
                                <tr>
                                    <th th:text="#{duration}+':'">Duracion: </th>
                                    <td id="duracion"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{max-entradas}+':'">Máximo de entradas: </th>
                                    <td id="entradasMax"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{fecha-fin-venta}+':'">Fecha de fin de venta: </th>
                                    <td id="fechaFinVenta"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{fecha-inicio}+':'">Fecha de incio: </th>
                                    <td id="fechaIni"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{hidden}+':'">Esta oculto: </th>
                                    <td id="estaOculto"></td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                      <div id="salaInfo" class="d-flex flex-column gap-2">
                          <h5 th:text="#{sala-info}">Información de la sala</h5>
                          <table class="table table-borderless">
                              <tbody>
                              <tr>
                                  <th th:text="#{name}+':'">Nombre: </th>
                                  <td id="nombre"></td>
                              </tr>
                              <tr>
                                  <th th:text="#{address}+':'">Dirección: </th>
                                  <td id="direccion"></td>
                              </tr>
                              <tr>
                                  <th th:text="#{city}+':'">Ciudad: </th>
                                  <td id="ciudad"></td>
                              </tr>
                              <tr>
                                  <th th:text="#{max-capacity}+':'">Aforo máximo: </th>
                                  <td id="aforoMax"></td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div id="additionalInfo"></div>
                  </div>
                    <div class="modal-footer">
                        <a class="btn btn-warning" id="copySesionBtn" th:text="#{copy}">Copy</a>
                        <a class="btn btn-info" id="updateSesionBtn" th:text="#{modify}">Modificar</a>
                        <a class="btn btn-danger" id="deleteSesionBtn" th:text="#{delete}">Eliminar</a>
                        <button class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            <h3 class="mb-3" th:text="#{rules-doc}">Normas del evento</h3>
            <p th:if="${evento.getDocumentoNormas() == null}" th:text="#{no-rules-doc}">No hay ningún documento asignado</p>
            <div th:unless="${evento.getDocumentoNormas() == null}">
                <a th:text="${evento.getDocumentoNormas().getNombrePdf()}" th:href="'/media/' + ${evento.getDocumentoNormas().getNombrePdf()}"></a>
                <a class="btn btn-light" th:href="'/eventos/' + ${evento.id} + '/normas_evento/delete'">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>

        </div>

        <div class="mb-4">
            <h3 class="mb-3" th:text="#{gallery}">Galeria de imágenes</h3>
            <div class="container-fluid d-flex gap-3">
                <img th:each="imagen: ${evento.getGaleriaImagenes()}"
                     th:src="'/media/' + ${imagen.nombreArchivo}"
                     th:attr="data-gallery-id=${imagen.id}, data-gallery-prioridad=${imagen.prioridad}, data-gallery-name=${imagen.nombreArchivo}"
                     class="galleryItem rounded-circle img-thumbnail"
                     data-bs-toggle="modal" data-bs-target="#modalGaleria">
            </div>
            <a th:href="'/eventos/' + ${evento.id} + '/images/add'" th:text="#{add-img}">Añadir imágen</a>
        </div>

        <div class="modal" tabindex="-1" id="modalGaleria">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="post" action="#PLACEHOLDER" id="galeriaForm">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="#{set-prioridad}">Establecer prioridad</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <img class="d-block img-fluid mx-auto my-4" src="" alt="" id="imagenGaleria">
                        <div class="modal-body">
                            <input type="number" name="prioridad" id="prioridad">
                        </div>
                        <div class="modal-footer">
                            <a href="#PLACEHOLDER" class="btn btn-danger" id="deleteGalleryBtn" th:text="#{delete}">Eliminar</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{close}">Cancelar</button>
                            <button type="submit" class="btn btn-primary" th:text="#{save}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                start: 'title',
                center: '',
                end: 'today timeGridDay,dayGridWeek,dayGridMonth prev,next'
            },
            eventDisplay: 'block',
            initialView: 'dayGridMonth',
            themeSystem: 'bootstrap5',
            locale: [[#{lang}]],
            events: '/eventos/[[${evento.id}]]/jsonSesiones',
            eventClick: processEventClick
        });
        calendar.render();
    });

    function processEventClick(info){
        openSesionModal(getSesionIndex(info.event.extendedProps.sesion_id))
        let myModal = new bootstrap.Modal(sesionModal)
        myModal.show()
    }
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let galeriaModal = document.getElementById("modalGaleria");
    let sesiones = [[${evento.sesiones}]];
    let sesionModal = document.getElementById("modalSesion");
    console.log(sesiones);

    function getSesionIndex(sesionId){
        for (let i = 0; i < sesiones.length; i++) {
            if(sesiones[i].id == sesionId)
                return i;
        }
        return null;
    }

    sesionModal.addEventListener('show.bs.modal',function (event){
        if(event.relatedTarget != null){
            let button = event.relatedTarget;
            let sesionIndex = button.getAttribute("data-sesion-index");
            openSesionModal(sesionIndex);
        }
    })

    function openSesionModal(sesionIndex){
        let sesion = sesiones[sesionIndex];
        let sesionFields = document.querySelectorAll("div#sesionInfo td");
        let salaFields = document.querySelectorAll("div#salaInfo td")

        for(let i=0;i<sesionFields.length;i++){
            sesionFields[i].innerHTML = sesion[sesionFields[i].id];
        }

        for(let i=0;i<salaFields.length;i++){
            if (salaFields[i].id==="ciudad"){
                salaFields[i].innerHTML = sesion["sala"]["ciudad"]["nombre"];
            } else {
                salaFields[i].innerHTML = sesion["sala"][salaFields[i].id];
            }
        }

        document.querySelector("#additionalInfo").innerHTML="";
        if (sesion["tiposEntrada"]!==undefined){
            let text = "";
            text+="<h5>"+[[#{tipos-entrada}]]+"</h5>";
            if (sesion["tiposEntrada"].length>0){
                text+="<table class='table'>" +
                    "<thead> " +
                    "<tr>" +
                    "<th>"+[[#{name}]]+"</th>" +
                    "<th>"+[[#{max-entradas}]]+"</th>" +
                    "<th>"+[[#{price}]]+"</th>" +
                    "</tr>" +
                    "</thead>" +
                    "<tbody>";
                sesion["tiposEntrada"].forEach(function(tipoEntrada){
                    text+="<tr>";
                    text+="<td>"+tipoEntrada["primaryKey"]["nombre"]+"</td>";
                    text+="<td>"+tipoEntrada["maxEntradas"]+"</td>";
                    text+="<td>"+tipoEntrada["precio"]+"</td>";
                    text+="</tr>";
                }
                );
                text+="</tbody> </table>";
            } else {
                text+="<p class='text-center text-secondary'>No existen tipos de entrada disponibles</p>";
            }
            document.querySelector("#additionalInfo").innerHTML=text;
            document.querySelector("#updateSesionBtn").setAttribute("href", "/eventos/"+[[${evento.id}]]+"/sesiones_no_num/"+sesion["id"]+"/update");
            document.querySelector("#copySesionBtn").setAttribute("href", "/eventos/"+[[${evento.id}]]+"/sesiones_no_num/"+sesion["id"]+"/copy");
        } else {
            document.querySelector("#updateSesionBtn").setAttribute("href", "/eventos/"+[[${evento.id}]]+"/sesiones_num/"+sesion["id"]+"/update");
            document.querySelector("#copySesionBtn").setAttribute("href", "/eventos/"+[[${evento.id}]]+"/sesiones_num/"+sesion["id"]+"/copy");
        }

        document.querySelector("#deleteSesionBtn").setAttribute("href", "/eventos/"+[[${evento.id}]]+"/sesiones/"+sesion["id"]+"/delete");

    }

    galeriaModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget
        let prioridad = button.getAttribute("data-gallery-prioridad");
        let nombre = button.getAttribute("data-gallery-name");
        let recursoMediaId = button.getAttribute("data-gallery-id");
        let eventoId = [[${evento.id}]]
        document.getElementById("galeriaForm").setAttribute("action", "/eventos/" + eventoId + "/images/" + recursoMediaId + "/update")
        document.getElementById("prioridad").setAttribute("value", prioridad)
        document.getElementById("imagenGaleria").setAttribute("src","/media/"+nombre);
        document.getElementById("imagenGaleria").setAttribute("alt",nombre);
        document.getElementById("deleteGalleryBtn").setAttribute("href", "/eventos/" + eventoId + "/images/" + recursoMediaId + "/delete")
    })
    /*]]>*/
</script>
</body>
</html>