<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Crear sesion no numerada')"></head>

<body>
<header th:replace="fragments/layout :: header('Crear sesion no numerada')"></header>

<main>
    <section class="container-md">
        <form method="POST" th:action="'/eventos/' + ${evento.id} + '/sesiones_no_num'" th:object="${sesion}">
            <div class="mb-3" th:unless="${sesion.getId() == null}">
                <label for="id" class="form-label">Identificador</label>
                <input type="number" class="form-control" readonly th:field="*{id}">
            </div>
            <div class="mb-3">
                <label th:for="*{evento}" class="form-label">[DEBUG] Evento</label>
                <input type="number" class="form-control" th:field="*{evento}">
            </div>
            <div class="mb-3">
                <label th:for="*{entradasMax}" class="form-label">Entradas máximas</label>
                <input type="number" class="form-control" th:field="*{entradasMax}">
            </div>
            <div class="mb-3">
                <label th:for="*{sala}" class="form-label">Sala</label>
                <select class="form-control" th:field="*{sala}">
                    <option th:each="sala: ${salas}"
                            th:value="${sala.id}"
                            th:text="${sala.nombre}"/>
                </select>
            </div>
            <div class="mb-3">
                <label for="estaOculto" class="form-label">Esta oculto</label>
                <select class="form-control w-25" th:field="*{estaOculto}">
                    <option value="true">Oculto</option>
                    <option value="false">No oculto</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="fechaFinVenta" class="form-label">Fecha y hora de fin de venta</label>
                <input type="datetime-local" class="form-control w-25" th:field="*{fechaFinVenta}">
            </div>
            <div class="mb-3">
                <label for="fechaIni" class="form-label">Fecha y hora de inicio del evento</label>
                <input type="datetime-local" class="form-control w-25" th:field="*{fechaIni}">
            </div>
            <div class="mb-3">
                <label for="fechaFin" class="form-label">Fecha y hora de fin del evento</label>
                <input type="datetime-local" class="form-control w-25" th:field="*{fechaFin}">
            </div>
            <div id="tiposEntrada">
                <fieldset th:each="tipoEntrada, iStat: ${sesion.tiposEntrada}">
                    <legend>Tipo de entrada</legend>
                    <div class="mb-3">
                        <label th:for="'nombreTipo' + ${iStat.index}" class="form-label">Nombre del tipo</label>
                        <input type="text" class="form-control w-25" th:value="${'PLACEHOLDER'}" name="nombreTipo" th:id="'nombreTipo' + ${iStat.index}">
                    </div>
                    <div class="mb-3">
                        <label th:for="'maxEntradasTipo' + ${iStat.index}" class="form-label">Entradas máximas</label>
                        <input type="number" class="form-control w-25" th:value="${'PLACEHOLDER'}" name="maxEntradasTipo" th:id="'maxEntradasTipo' + ${iStat.index}">
                    </div>
                    <div class="mb-3">
                        <label th:for="'precioTipo' + ${iStat.index}" class="form-label">Precio por entrada</label>
                        <div class="input-group w-25">
                            <input type="number" class="form-control" th:value="${'PLACEHOLDER'}" name="precioTipo" th:id="'precioTipo' + ${iStat.index}">
                            <span class="input-group-text">€</span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="btn btn-primary" th:text="'Guardar'"></button>
        </form>
    </section>
</main>
<footer th:replace="fragments/layout :: footer"></footer>
<script>
    let iteration = 0
    let iterationText = iteration + "G"
    let fieldset = document.createElement('fieldset')
    let legend = document.createElement("legend")
    legend.appendChild(document.createTextNode("Tipo de entrada"))
    fieldset.appendChild(legend)

    let divNombre = document.createElement("div")
        divNombre.classList.add("mb-3")
            let labelNombre = document.createElement("label")
            labelNombre.htmlFor = "nombreTipo" + iterationText
            labelNombre.classList.add("form-label")
            labelNombre.appendChild(document.createTextNode("Entradas máximas"))
        divNombre.appendChild(labelNombre)
            let inputNombre = document.createElement("input")
            inputNombre.type = "text"
            inputNombre.classList.add("form-control", "w-25")
            inputNombre.name = "nombreTipo"
            inputNombre.id = "nombreTipo" + iterationText
        divNombre.appendChild(inputNombre)
    fieldset.appendChild(divNombre)

    document.getElementById("tiposEntrada").appendChild(fieldset)
</script>

</body>
</html>