<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Crear sesion numerada')"></head>

<body class="bg-secondary">
<header th:replace="fragments/layout :: header('Formulario sesion numerada')"></header>

<main>
    <section class="container-md">

        <div class="w-50 mx-auto bg-white shadow-sm rounded-25 p-4">
            <div th:replace="fragments/layout :: errorBox"></div>
            <form method="POST" th:action="'/eventos/'+${evento.id}+'/sesiones_num'" th:object="${sesion}">
                <div th:replace="fragments/sesion-form :: sesion-inputs"></div>

                <div class="mb-4">
                    <label th:for="*{precio}" class="form-label text-primary h5" th:text="#{price}">Precio</label>
                    <div class="input-group w-25">
                        <input type="number" min="0.00" max="10000.00" step="0.1" class="form-control" th:field="*{precio}">
                        <span class="input-group-text">€</span>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
                <a th:href="'/eventos/'+${evento.id}" class="btn btn-secondary" th:text="#{back}"></a>
            </form>
        </div>
    </section>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:inline="javascript">

    showSalaInfo();
    document.querySelector("#sala").addEventListener("change",showSalaInfo,true);

    function showSalaInfo(){
        let salaId = document.querySelector("#sala").value;
        fetch('/salas-api/' + salaId)
            .then(response => response.json())
            .then(function (data){
                printSalaInfo(data);
            });
    }

    function printSalaInfo(sala){
        let container = document.querySelector("#infoSala");
        let text = "";

        text+="<div class=\"d-flex flex-column\">" +
            "<h4>"+sala["nombre"]+"</h4>" +
            "<span>"+[[#{address}]]+": "+sala["direccion"]+"</span>" +
            "<span>"+sala["ciudad"]["nombre"]+"</span>" +
            "<span>"+[[#{max-capacity}]]+": "+sala["aforoMax"]+"</span>" +
            "</div>"

        container.innerHTML = text;
    }

</script>

</body>
</html>